.sidebar{
  width: 15%;
}

.sidebar ul li {
  list-style: none;
  padding: 5px;
}

.sidebar ul li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
}
